* {
    box-sizing: border-box;
 }
 
 .bksearch, .bk-autocomplete-items, .bk-autocomplete-items div  {
    font: 16px;
 }
 
 /*the container must be positioned relative:*/
 .autocomplete {
    position: relative;
    display: inline-block;
 }
 
 .bksearch {
   border: 1px solid darkgray;
   padding: 10px;
   font-size: 16px;
   box-shadow: 1px 1px 0px 0.5px aliceblue;
   border-radius: 3px;

 }
 
 .bksearch[type=text] {
    background-color: ghostwhite;
    width: 100%;
 }
 
 .bksearch[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
 }
 
 .bk-autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    /* top: 100%; */
    left: 0;
    right: 0;

    z-index: 10001;
    padding: 0 .45em .45em .45em;
 }
 
 .bk-autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
 }
 
 /*when hovering an item:*/
 .bk-autocomplete-items div:hover {
    background-color: #e9e9e9;
 }
 
 /*when navigating through the items using the arrow keys:*/
 .bk-autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
 }